@import '../../styles/variables';
@import '../../styles/mixin';
@import '../../styles/breakpoint';

.users {
  width: 100%;
  height: 100%;

  &_items {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 30px;
  }
}

.title {
  @include heading1();
  color: black;
  padding-top: 140px;
  min-height: 328px;
  text-align: center;
}
.more {
  @include flex(row, center, center);
  padding-top: 50px;
}
