@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@400;700&family=Nunito:wght@400;600;700&display=swap');

//Fonts
$nunito: "Nunito", sans-serif;

//Colors
$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;
$error: #CB3D40;


//Sizes
$mobile-width: 360px;
$tablet-width: 768px;
$desktop-width: 1024px;